.body{
    background:#ffffff;
    scroll-behavior:smooth;
    overflow-x:hidden;

}

#l_2{

    position:absolute;
    left:-30%;
}

.my-svg{
    width: 100vw;
    position:absolute;
}

.img-1{
    margin-top: 0.6%;
    position:absolute;
    right: 2%;
    z-index:1;
    
}
.img-2{
    z-index:1;
    margin-top: 0.6%;
    position:absolute;
    right:5%;

}


.samp-hello{
    font-size: 80%;
    margin-left: 5%;
    color:rgb(102, 98, 98);
    font-family:'Montserrat', sans-serif;;
}


.trip-text{
    font-weight: 600;
    margin: 0%;
    position:absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 290%;
    top:26%;
    margin-left: 5%;
}


.but{
    transition: all 200ms ease-in-out;
    outline: none;
    left:50%;
    top:44%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    position:absolute;
    width: 10%;
    height: 5%;
    color: rgb(255, 255, 255);
    border: 2px solid white ;
    border-radius: 20px;
    font-size: 120%;
    background: rgba(223, 218, 218, 0.212);

}
.po{
    width: 100%;
}
.but:hover{
    color: #ffffffda;
    background: rgba(230, 229, 229, 0.5);
}
.bod{
    width: 100%;
    left:0%;
    
    position:absolute;
    overflow: hidden;
    margin: 0%;
}
.Layer_1{
    margin: 0%;
    width:100%;
    height: 100;
}

polygon{
    width: 100%;
    height: auto;
}

#text-ms{
box-shadow: rgba(201, 71, 11, 0.863) 0px 3px 2px;
position:absolute;
top:20%;
left: 5%;
display:flex;
background: rgb(255, 255, 255);
height: auto;
width: 70%;
border-radius: 20px;
overflow:hidden;
}

#ms{
color: rgb(241, 77, 12);
margin-left: 5%;
display:inline;
font-size: 90%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#sms{
    transition: all 1s ease-in-out;
    box-shadow: rgba(14, 46, 151, 0.39) 0px 3px 2px;
    position:fixed;
    bottom: 8%;
    right: 3%;
    background: #585354dc;
    width: 27.4%;
    height: 46%;
    z-index: 6;
    display:none;
    justify-content:center;
    align-items:flex-end;
    border-radius: 7px;
}


#sms-input{
    font-size: 110%;
    outline: none;
    text-align: justify;
    box-shadow: rgb(226, 213, 205) 0px 2px 2px;
    border: none;
    border-radius: 20px;
    height: 8%;
    width: 80%;
    margin-bottom: 5%;
}

#sms-button{
    background: rgb(245, 96, 10);
    box-shadow: rgba(202, 10, 10, 0.521) 0px 3px 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    font-size: 110%;
    margin-left: 1.3%;
    border-radius: 50px;
    margin-bottom: 3%;
    height: 14%;
    outline: none;

}

#logo{
    width:90%;
    padding: 0%;
    opacity: 0;
    animation: logo 5s  alternate;
    animation-duration: 3s;
    animation-delay: 2s;
    position:absolute;
    z-index:5;
    top:-16.5%;
    left:-7%;
    stroke-dashoffset: 0%;
    
}

@keyframes logo {
    0%{stroke-dasharray: 0 50%;}
    0%{ stroke-dashoffset: 10%;}
    100%{ stroke-dashoffset:50%;}
    100%{stroke-dasharray: 50% 0;
    opacity: 1;}
}

#X{
    
    outline: none;
    font-family:sans-serif;
    font-size: 90%;
    position:absolute;
    right:8%;
    top:5%;
    color:white;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.13);
    border: none;
}


   #text-ms-send{
    font-size: 100%;
   display: none;
   box-shadow: rgba(204, 52, 5, 0.39) 0px 3px 2px;
   position:absolute;
   margin-top: 5%;
   top:35%;
   left: 27%;
   background: rgb(255, 51, 0);
   height: 10%;
   width: 70%;
   border-radius: 20px;
   overflow:hidden;
   }
   
   #ms-send{
    color: rgb(255, 255, 255);       
   margin-left: 5%;
   display:inline;
   font-size: 90%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
   }


      
   #ms-email{
    color: rgb(255, 74, 2);      
    margin-left: 3%;
    display:inline;
    font-size: 95%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }


   #text-ms-email{  
    justify-content: center;
    align-items: left; 
    font-size: 100%;
    display: none;
    box-shadow: rgba(14, 46, 151, 0.39) 0px 3px 2px;
    position:absolute;
    margin-top: 5%;
    top:48%;
    left: 5%;
    background: rgb(255, 255, 255);
    height: 10%;
    width: 90%;
    border-radius: 20px;
    overflow:hidden;
    }
    


    
   #text-ms-tnk{ 
    font-size: 110%;
    display: none;
    box-shadow: rgba(14, 46, 151, 0.39) 0px 3px 2px;
    position:absolute;
    margin-top: 5%;
    top:65%;
    left: 5%;
    background: rgb(255, 255, 255);
    height: 10%;
    width: 75%;
    border-radius: 20px;
    overflow:hidden;
    }




.my-img{
    cursor: pointer;
    position: absolute;
    top:20%;
    right: 10%;
    border-radius: 50%;
    z-index: 2;
    height:auto;
    width: 30.2%;
    filter: grayscale(20%);
    filter: saturate(120%);
    box-shadow: rgba(61, 34, 34, 0.267) 0px 3px 80px;
    border-top:7px solid #757373 ;
    border-left:7px solid #f73c3cb4;
    border-right:7px solid #757373 ;
    border-bottom:7px solid #757373;
}

.my-img-a{
    border-right:7px solid #f73c3cb4 ;
    border-top:7px solid  #757373;
    border-left:7px solid  #757373 ;
    border-bottom:7px solid  #757373 ;
    box-shadow: rgba(255, 102, 1, 0.349) 25px 65px 80px;
}



.img-my-text{
    font-size: 120%;
    position:absolute;
    width: 30.2%;
    height: 55%;
    border-radius: 50%;
    z-index: 2;
    color:rgb(21, 192, 21);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}



.body-a{
    background:#00394d;
}

.my_box-a{
    background: #004d66 !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 80px !important;
    border: none !important;
}


::-webkit-scrollbar {
    width: 14px;
    background: rgb(0, 0, 0);                
}

::-webkit-scrollbar-thumb{
    background:#ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(107, 106, 106, 0.438);
}




.html-74{
    margin-left: 10%;
}
.python-46{
    margin-left: 1%;
    font-size: 100%;
}
.js-64{
    margin-left: 5%;
}
.css-84{
    margin-left: 10%;
}



.nav{
    backdrop-filter: blur(50px);
    width: 100%;
    height: 20%;
    left:0%;
    position:absolute;
    top:0%;
    // background:#b8b4b4;
    background:#b8b4b428;
    box-shadow: rgba(0, 0, 0, 0.089) 0px 9px 8px;
    

}

.hello{
    display: block;
    font-size: 450%;
    z-index: 3;
    position:absolute;
    color: rgb(8, 8, 8);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60%;
    top:47%;

}

.bar-1{
    margin-left: 6%;
    position:absolute;
    width: 35%;
    height: 6%;
    background:rgb(4, 50, 87);
    left: 10%;
    border-radius: 25px;
}


.bar-1-in{
    color: rgb(7, 5, 119);
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1%;
    position: absolute;
    top:50%;
    width:89%;
    height:65%;
    left:45.2%;
    background:linear-gradient(rgb(187, 255, 0),rgb(0, 255, 149));
    border-radius: 30px;

    /* to make center */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.bar-2{
    margin-left: 6%;
    position:absolute;
    top:60%;
    width: 35%;
    height: 6%;
    background:rgb(4, 50, 87);
    left: 10%;
    border-radius: 25px;
}


.bar-2-in{
    color: rgb(7, 5, 119);
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1%;
    position: absolute;
    top:50%;
    width:80%;
    height:65%;
    left:41%;
    background:linear-gradient(rgb(187, 255, 0),rgb(0, 255, 149));
    border-radius: 30px;

    /* to make center */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.bar-3{
    margin-left: 6%;
    position:absolute;
    top:76%;
    width: 35%;
    height: 6%;
    background:rgb(4, 50, 87);
    left: 10%;
    border-radius: 25px;
}


.bar-3-in{
    color: rgb(7, 5, 119);
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1%;
    position: absolute;
    top:50%;
    width:60%;
    height:67%;
    left:31%;
    background:linear-gradient(rgb(187, 255, 0),rgb(0, 255, 149));
    border-radius: 30px;

    /* to make center */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.bar-4{
    margin-left: 6%;
    position:absolute;
    top:90%;
    width: 35%;
    height: 6%;
    background:rgb(4, 50, 87);
    left: 10%;
    border-radius: 25px;
}


.bar-4-in{
    color: rgb(7, 5, 119);
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1%;
    position: absolute;
    top:50%;
    width:67%;
    height:70%;
    left:34.3%;
    background:linear-gradient(rgb(187, 255, 0),rgb(0, 255, 149));
    border-radius: 30px;

    /* to make center */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}




.html{
    margin-left: 5%;
    padding-top: 9%;
    width: 20%;
    height: 10%;
}
.css{
    margin-left: 5%;
    padding-top: 9%;
    width: 20%;
    height: 10%;
}
.js{
    margin-left: 5%;
    padding-top: 9%;
    width: 20%;
    height: 20%;
}



.what-done{
    display:inline-flex;
    z-index:5;
    position:absolute;
    top:390%;
    font-size: 320%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: rgb(0, 0, 0);
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)

}




.img-ui-1{
    transition: all 800ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.445) 7px 8px 18px;
    border:4px #8b0ede42 groove;
    border-radius: 6px;
    position:absolute;
    top:450%;
    width: 90%;
    height: auto;
    z-index:3;
    left:-20%;
    opacity: 0;

}


.img-ui-atvi{
    opacity: 1;
}


.img-ui{
    transition: all 800ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.445) 7px 8px 18px;
    border:4px #8b0ede42 groove;
    border-radius: 6px;
    position:absolute;
    top:400%;
    width: 90%;
    height: auto;
    z-index:3;
    left:5%;
    opacity: 0;
}





.about-me{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 240%;
    font-weight: 100;
}


.div-with-img{
    backdrop-filter: blur(30px);
    overflow: hidden;
    z-index:3;
    text-align: center;
    align-items: center;
    transition: all 5s ease-in-out;
    position:absolute;
    width: 70%;
    height:70%;
    top:210%;
    left:-100%;
    opacity: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.div-with-img-ativ{
    opacity: 1;
    text-align: center;
    align-items: center;
    transition: all 0.6s;
    position:absolute;
    width: 70%;
    height:70%;
    top:210%;
    left:15.5%;
    border-radius: 10px;
    box-shadow: rgba(170, 12, 12, 0.329) 7px 7px 8px;

}

.div-with-img:hover{
    transform: scale(101%);
}

.my-name-shajin{
    color: rgb(247, 60, 60);
    font-size: 180%;
}

.about-me-text{
    z-index:10;
    color: rgba(0, 0, 0, 0.726);
    font-size: 240%;
    font-family:sans-serif;
    font-weight: 330%;
    text-align: left;
    margin-left: 5%;
}

.crcile_sl{
    border: 3px rgb(255, 255, 255);
    border-style:solid;
    
    z-index:2;
    color: rgba(255, 255, 255, 0.062);
    box-shadow: rgba(0, 0, 0, 0.459) 0px 9px 8px;
    background: rgb(228, 81, 81);
    position:fixed;
    width: 3%;
    height: 5.5%;
    border-radius: 50%;
    transform:scale(240%);
    left:7%;
    top:5%;
}

.crcile_sl2{
    border: 3px rgb(255, 255, 255);
    border-style:solid;
    box-shadow: rgba(34, 33, 33, 0.459) 0px 9px 8px;
    background:rgb(84, 100, 99);
    position:fixed;
    animation-name: c_sl2;
    animation-duration: 1s;
    animation-delay: 2.3s;
    width: 3%;
    height: 5.5%;
    border-radius: 50%;
    transform:scale(90%);
    left:25%;
    top:20%;

}

.crcile_sl3{
    border: 3px rgb(228, 81, 81);
    border-style:solid;

    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 9px 8px;
    background:rgb(255, 255, 255);
    position:fixed;
    animation-name: c_sl3;
    animation-duration: 1s;
    animation-delay: 2.8s;
    width: 3%;
    height: 5.5%;
    border-radius: 50%;
    transform:scale(190%);
    left:17%;
    top:25%;

}
.crcile_sl4{
    border: 3px #ffffff;
    border-style:solid; 
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 8px;
    background:#dba3bd;
    animation-name: c_sl4;
    animation-duration: 1s;
    animation-delay: 2s;
    position:fixed;
    width: 3%;
    height: 5.5%;
    border-radius: 50%;
    transform:scale(140%);
    left:4%;
    top:30%;

}




@keyframes c_sl4{
    0%{transform:scale(0);}
    100%{transform:scale(130%);}
}

@keyframes c_sl3{
    0%{transform:scale(0);}
    100%{transform:scale(190%);}
}


@keyframes c_sl2{
    0%{transform:scale(0);}
    100%{transform:scale(90%);}
}




.text{
    font-weight: 600;
    transition: all  1.5s ease-in-out;
    display:inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 220%;
    justify-content:space-evenly;
    color: rgb(0, 0, 0);
    position: absolute;
    left:10%;
    top:100%;
    opacity: 0;
    z-index: 4;
 
    
}

#darkMode{
    position:absolute;
    right: 0%;
    top:10%;
    z-index:10;
    background: #000;
}

/* to add uesing js by sroll anim */
.text_active{
    left:10%;
    opacity: 1;
    color:rgb(105, 102, 102);
    
}
/* to add uesing js by sroll anim */

.img-in-div{
    z-index:-1;
    position:absolute;
    left:57%;
    bottom: 20%;

}


input[type="checkbox"]
{
    position: relative;
    width: 5%;
    height: 4%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    background: rgb(140, 144, 146) !important;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 80px;
    transition: all 500ms ease-in-out;

}
input:checked[type="checkbox"]
{
    background: rgb(6, 25, 53)!important;
}
input[type="checkbox"]:before
{
    content: "";
    position:absolute;
    width: 45%;
    height: 100%;
    border-radius: 50%;
    left:0;
    top:0;
    transform: scale(1.1);
    background: rgb(255, 255, 255);
    transition: all 360ms ease-in-out;
}

input:checked[type="checkbox"]:before
{
    left:45%;
}









.my_box{
    border:8px rgba(8, 49, 82, 0.075) ;
    border-style:ridge;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 80px;
    background:rgb(255, 255, 255);
    position:absolute;
    top:100%;
    height: 300%;
    width: 50%;
    left:0;
    border-top-right-radius: 700px;
    border-bottom-right-radius: 700px;

}

/*? div of 3 box */

.img{
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 2;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.p{
    font-size: 140%;
    /* display:flex; */
    text-align: center;
    /* margin: 3%; */
    font-family: 'Montserrat', sans-serif;

    font-family: 'Work Sans', sans-serif;
    /* margin-top: 20%; */
}

.div_1{
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    font-weight: 470;
    position: absolute;
    transition: all  1.2s ease-in-out;
    left: -50%;
    border-radius: 5px;
    background: linear-gradient(70deg,#ff3c00cb,rgb(224, 52, 89));
    height:auto;
    width: 30%;
    top: 125%;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 3px 8px;
    z-index:2;
    opacity: 0;
}

.div_1:hover{
    cursor:pointer;
    color: rgb(0, 0, 0);
    transform: scale(109%);
    background: rgba(253, 253, 253, 0.014);
    box-shadow: rgba(0, 0, 0, 0.849) 0px 5px 10px;
    border-top-right-radius: 50px;
}
.div_2:hover{
    cursor:pointer;
    color:#000000;
    background: rgba(253, 253, 253, 0.014);
    transform: scale(109%);
    box-shadow: rgba(0, 0, 0, 0.849)0px 5px 10px;
    border-top-right-radius: 50px;
}
.div_3:hover{
    cursor:pointer;
    color:rgb(0, 0, 0);
    background: rgba(253, 253, 253, 0.014);
    transform: scale(109%);
    box-shadow: rgba(0, 0, 0, 0.849) 0px 5px 10px;
    border-top-right-radius: 50px;
}



.img-ui-atvi{
    position:absolute;
    opacity: 1;
    left:5%;
}

.div_2{
    color:rgb(248, 248, 248);
    backdrop-filter: blur(30px);
    transform: scale(110%);
    font-weight: 470;
    z-index:2;
    position: absolute;
    transition: all  1.5s ease-in-out;
    left:-50%;
    border-radius: 5px;
    background: linear-gradient(2deg,#ff3c00cb,rgb(223, 25, 75));
    height:auto;
    width: 30%;
    top: 125%;
    box-shadow: rgba(0, 0, 0, 0.788) 0px 3px 8px;
    opacity: 0;
    
}

.div_3{
    backdrop-filter: blur(30px);
    color:rgb(255, 255, 255);
    font-weight: 470;
    z-index:2;
    position: absolute;
    transition: all  1.8s ease-in-out;
    border-radius: 5px;
    background: linear-gradient(#ff3c00cb,rgb(224, 52, 89));
    left: -69%;
    top: 125%;
    height:auto;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.63) 0px 3px 8px;
    opacity: 0;
}

/*? div of 3 box */


.hey-ativ{
    color:#413e3e;
    opacity: 1;

}

.div_ativ1{
    position:absolute;
    left: 2%;
    opacity: 1;
}

.div_ativ2{
    position:absolute;
    left:35%;
    opacity: 1;
}

.div_ativ3{
    position:absolute;
    left: 68%;
    opacity: 1;}  







@media(max-width:360px){
    .nav{
        background:#b8b4b467;
    }
#logo{
    position:absolute;
    top:-24%;
}


        .my-img{
            display: none;
        }
    
    
        .python-46{
        font-size: 75%;
        }
        .div-with-img{
            height: 90%;
        }

    }
    











@media(max-width:375px){
    .nav{
        background:#b8b4b450;
    }
    .img-1{
        left:5%;
        
    }
    .img-2{
        left:13%;

    }
    .bod{
        width: 100%;
        left:0%;
        
        position:absolute;
        overflow: hidden;
        margin: 0%;
    }

    
    #sms{
        display: none !important;
    }


    input[type="checkbox"]
{
    position: relative;
    top:5%;
    right:8%;
    width: 10%;
    height: 2.8%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    background: rgb(201, 218, 228) !important;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 80px;
    transition: all 500ms ease-in-out;

}
input:checked[type="checkbox"]
{
    background: rgb(6, 25, 53)!important;
}
input[type="checkbox"]:before
{
    content: "";
    position:absolute;
    width: 45%;
    height: 100%;
    border-radius: 50%;
    left:0;
    top:0;
    transform: scale(1.1);
    background: rgb(88, 86, 86);
    transition: all 360ms ease-in-out;
}

input:checked[type="checkbox"]:before
{
    left:45%;
}





    .samp-hello{
        font-size: 70%;
        margin-left: 5%;
        color:rgb(102, 98, 98);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .hello{
        display: inline;
        background: rgba(0, 0, 0, 0);
        color: black;
        width: 87%;
    }



    /* .what-done{
        font-size: 210%;
    } */


    .python-46{
        font-size: 90%;
    }


}




    .img-in-div{
        position:absolute;
        left:50%;
        bottom: 6%;
        transform: scale(70%);
    
    }

    .my-name-shajin{
        font-size:140%;


    }


    .div-with-img{
        position:absolute;
        width:90%;
        left:5.6%; 
    }


    .bar-1{
        position:absolute;
        left: 0%;
        left: 0%;
        width: 60%;

    }
    

    .bar-2{
            position: absolute;
            margin-top: 2%;
            top:40%;
            width:60%;
            left: 0%;
    }
    

    .bar-3{
        position:absolute;
        margin-top: 5.6%;
        width: 60%;
        left: 0%;

    }
    
    
    .bar-4{
        margin-top: 1.5%;
        position:absolute;
        width: 60%;
        left: 0%;
    }
    
    



    .p{
        font-size: 100%;
        font-weight: 600;
    }
    .text{
        font-size: 155%;
    }



    .hey{
        font-size: 400%;

    }

    .crcile_sl4{
        width: 7%;
        position:absolute;
        top:17%;
        height: 4%;
    }
    .crcile_sl2{
        width: 7%;
        position:absolute;
        top:17%;
        height: 4%;
    }
    .crcile_sl{
        width: 7%;
        position:absolute;
        top:3%;
        height: 4%;
        left:13%;
        transform:scale(230%);
    }
    .crcile_sl3{
        width: 7%;
        position:absolute;
        top:3%;
        height: 4%;
        left:13%;
    }


@media(max-width:414px){

    #logo{
        left:-27%;
    }

    #sms{
        display: none !important;
    }


    .my-img{
        display: none;
    }




    input[type="checkbox"]
    {
        position: relative;
        top:5%;
        right:8%;
        width: 10%;
        height: 2.8%;
        appearance: none;
        -webkit-appearance: none;
        border-radius: 20px;
        outline: none;
        background: rgb(201, 218, 228) !important;
        box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 80px;
        transition: all 500ms ease-in-out;
    
    }
    input:checked[type="checkbox"]
    {
        background: rgb(6, 25, 53)!important;
    }
    input[type="checkbox"]:before
    {
        content: "";
        position:absolute;
        width: 45%;
        height: 100%;
        border-radius: 50%;
        left:0;
        top:0;
        transform: scale(1.1);
        background: rgb(83, 80, 81);
        transition: all 360ms ease-in-out;
    }
    
    input:checked[type="checkbox"]:before
    {
        left:45%;
    }









    .samp-hello{
        font-size: 70%;
        margin-left: 5%;
        color:rgb(70, 66, 67);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .hello{
        display: inline;
        background: rgba(0, 0, 0, 0);
        color: black;
        width: 87%;
    }


    .what-done{
        font-size: 170%;
    }








    .img-in-div{
        position:absolute;
        left:50%;
        bottom: 6%;
        transform: scale(70%);
    
    }






    

    .about-me-text{
        z-index:6;
        font-size:220%;
    }

    .div-with-img{
        position:absolute;
        width:90%;
        left:5.6%;
    }


    .bar-1{
        position:absolute;
        margin-top: 3%;
        top:42%;
        left: 0%;
        left: 0%;
        width: 60%;

    }
    
    
    .bar-1-in{


    }
    
    .bar-2{
        position: absolute;
        margin-top: 2%;
        top:50%;
        width:60%;
        left: 0%;
    }
    
    
    .bar-2-in{
    }
    .bar-3{
        position:absolute;
        width: 60%;
        left: 0%;
        top:62%;

    }

    
    .bar-3-in{
    }
    .bar-4{
        position:absolute;
        width: 60%;
        left: 0%;
        top:73%;
    }
    
    
    .bar-4-in{
    }








    .text{
        font-size: 155%;
    }





    .hey{
        font-size: 400%;

    }

    .crcile_sl4{
        width: 7%;
        position:absolute;
        top:17%;
        height: 4%;
    }
    .crcile_sl2{
        width: 7%;
        position:absolute;
        top:17%;
        height: 4%;
    }
    .crcile_sl{
        width: 7%;
        position:absolute;
        top:3%;
        height: 5%;
        left:13%;
        transform:scale(230%);
    }
    .crcile_sl3{
        width: 7%;
        position:absolute;
        top:3%;
        height: 5%;
        left:13%;
    }
}    
@media(min-width:720px) and (max-width:795px){
#logo{
position:absolute;
top:-10%;

}
.hello{
    color:rgb(138, 136, 134);
}
}

@media(max-width:800px){



//     .bod{
//         display: block;
//         width: 100%;
//         left:0%;

//     }
//     #trip-text{
//         display: none;
//     }
//     #but{
//         display: none;
//     }
    #my-img{
        right:1.4%;
        top:26%;
        width: 50%;
        display: block;
    }

//     .Layer_1{
//         width: 0vw;
//     }



//     #sms{
//         display: none !important;
//     }


//     .my-img{
//         display: none;
//     }



//     .samp-hello{
//         font-size: 70%;
//         margin-left: 5%;
//         color:rgb(43, 41, 41);
//         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     }

//     .hello{
//         display: inline;
//         background: rgba(0, 0, 0, 0);
//         color: rgb(255, 255, 255);
//         width: 87%;
//     }



//     input[type="checkbox"]
//     {
//         position: relative;
//         top:5%;
//         right:8%;
//         width: 10%;
//         height: 2.8%;
//         appearance: none;
//         -webkit-appearance: none;
//         border-radius: 20px;
//         outline: none;
//         background: rgb(201, 218, 228) !important;
//         box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 80px;
//         transition: all 500ms ease-in-out;
    
//     }
//     input:checked[type="checkbox"]
//     {
//         background: rgb(6, 25, 53)!important;
//     }
//     input[type="checkbox"]:before
//     {
//         content: "";
//         position:absolute;
//         width: 45%;
//         height: 100%;
//         border-radius: 50%;
//         left:0;
//         top:0;
//         transform: scale(1.1);
//         background: rgb(97, 93, 94);
//         transition: all 360ms ease-in-out;
//     }
    
//     input:checked[type="checkbox"]:before
//     {
//         left:45%;
//     }














//     .div-last1{
//         position:absolute;
//         width: 100%;
//         height:auto;
//         left:15%;
//     }

//     .div-last1-text{
//         display:inline-flex;
//         position: relative;
//         left:-50%;
//         display:ruby-text;
//         font-size: 190%;
//     }




    

//     .about-me-text{
//         z-index:6;
//         font-size:220%;
//     }

//     .div-with-img{
//         position:absolute;
//         width:95%;
//         left:3.2%;
//     }


//     .bar-1{
//         position:absolute;
//         left: 0%;
//         left: 0%;
//         width: 60%;

//     }
    
    
//     .bar-1-in{


//     }
    
//     .bar-2{
//         position: absolute;
//         margin-top: 3%;
//         width: 60%;
//         left: 0%;
//     }
    
    
//     .bar-2-in{
//     }
//     .bar-3{
//         position:absolute;

//         width: 60%;
//         left: 0%;

//     }
    
    
//     .bar-3-in{
//     }
//     .bar-4{
//         position:absolute;
//         width: 60%;
//         left: 0%;
//     }
    
    
//     .bar-4-in{
//     }



//     .text{
//         font-size: 155%;
//     }
    



//     .hey{
//         font-size: 400%;

//     }

//     .crcile_sl4{
//         width: 7%;
//         position:absolute;
//         top:17%;
//         height: 4%;
//     }
//     .crcile_sl2{
//         width: 7%;
//         position:absolute;
//         top:17%;
//         height: 4%;
//     }
//     .crcile_sl{
//         width: 7%;
//         position:absolute;
//         top:3%;
//         height: 4%;
//         left:13%;
//         transform:scale(230%);
//     }
//     .crcile_sl3{
//         width: 7%;
//         position:absolute;
//         top:3%;
//         height: 4%;
//         left:13%;
//     }
}    


@media(max-width:1500px){


}


